*{
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}
.logo-container img {
  height: 120px;
  width: 120px;
  margin-right: 50px;
  margin-left: 10px;
}
.logo-container img:hover{
  cursor: pointer;
}
.search-container {
  flex: 1;
  max-width: 800px;
  display: flex;
  align-items: center;
  
}
.search-container input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 24px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 4px solid rgb(61, 69, 177);
  color: black;
  font-size: 18px;
}
.search-container input:focus{
  outline: none;
}
#category{
  height: 56px;
  padding: 12px;
  padding-right: 10px;
  border: 4px solid rgb(61, 69, 177);
  border-left: none;
  
  color: orange;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(61, 69, 177);
}
#category:focus{
  outline: none;
}
#category:hover{
  cursor: pointer;
  background-color: rgb(50, 57, 146);
}
#category option:hover{
  cursor: pointer;
  background-color: rgb(50, 57, 146);
}
#sortPrice{
  height: 56px;
  padding: 12px;
  padding-right: 10px;
  border: 4px solid orange;
  background-color: orange;
  border-left: none;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(50, 57, 146);
}
#sortPrice:focus{
  outline: none;
}
#sortPrice:hover{
  cursor: pointer;
  background-color: #eb8b3d;
  border: 4px solid #eb8b3d;
  border-left: none;
}
.cart-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 140px;
}
.cart-container:hover{
  cursor: pointer;
}
.cart-container img {
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
#cartCounter{
  position: absolute;
  top: 16px;
  left: 70px;
  font-size: 22px;
  font-weight: 500;
  color: red;
}
#productsGrid{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #3717c2, #eb8b3d);
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
@media (max-width: 2000px) {
  #productsGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1600px) {
  #productsGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1300px) {
  #productsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1000px) {
  #productsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  #productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  #productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  #productsGrid {
    grid-template-columns: 1fr;
  }
}
.product-container{
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  border: 4px solid orange;
  border-radius: 6px;
  max-height: 460px;
}
.product-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
}
.product-image-container img {
  max-width: 100%;
  max-height: 100%;
}
.product-name {
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.product-price {
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  color: green;
}
.product-container select{
  width: 44px;
  height: 30px;
  border-radius: 6px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  
}
.product-container select:focus {
  outline: none;
  border: 2px solid orange;
}
.product-container select option {
  text-align: center;
}

#js-add-to-cart {
  width: 100%;
  padding: 14px 10px;
  border-radius: 50px;
  border: none;
  background-color: orange;
  color: #3717c2;
  font-size: 18px;
  font-weight: 700;
}
#js-add-to-cart:hover{
  cursor: pointer;
  background-color: #eb8b3d;
}