*{
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
.orders-main-container{
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.orders-header-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
}
.logo-container img{
  height: 120px;
  width: 120px;
}
.orders-header-container h2 span{
  color: rgb(90, 90, 255);
}
.cart-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 140px;
}
.cart-container:hover{
  cursor: pointer;
}
.cart-container img {
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
.cart-counter{
  position: absolute;
  top: 16px;
  left: 70px;
  font-size: 22px;
  font-weight: 500;
  color: red;
}
.orders-body-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #3717c2, #eb8b3d);
}
.orders-main-container h3 {
  margin-top: 130px;
  font-size: 26px;
  padding-left: 40px;
}
.array-orders-main-container{
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid orange;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.array-orders-header-container{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 10px ;
}
.orders-products-main-container{
  display: flex;
  justify-content: space-between;
  width: 850px;
  background-color: white;
  padding: 40px 25px;
  border-left: 4px solid orange;
  border-right:  4px solid orange;
}
.orders-product-image img {
  max-width: 110px;
    max-height: 110px;
}
.orders-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orders-product-info button {
  width: 140px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: blue;
  font-size: 16px;
  font-weight: 500;
   box-shadow: 2px 6px 8px rgba(213, 217, 217, 0.5);
}
.orders-track-package {
  width: 220px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 2px 6px 8px rgba(213, 217, 217, 0.5);
  background-color: rgb(245, 245, 245);
  font-size: 15px;
}